
<div>
  <h2>Add New User</h2>
  <form (ngSubmit)="addUser(name.value,email.value,age.valueAsNumber)">
    <input type="text" #name placeholder="Name" required>
    <input type="email" #email placeholder="Email" required>
    <input type="number" #age placeholder="Age" required>
    <button type="submit" class="btn btn-success">Agregar Usuario</button>
  </form>
  @if (errorMessage) {
    <div class="alert alert-danger">
      {{ errorMessage }}
    </div>
  }@else if (mensajeAgregado) {
    {{mensajeAgregado}}
  }
</div>

<div class="user-profile-container">
<!--lo que esta entre parentesis es el nombre del evento emiter creado en el hijo-->
@for (user of users; track $index) {
  <app-user 
  [name]="user.name" 
  [email]="user.email" 
  [age]="user.age"
  (usuarioSeleccionado)="usuarioSeleccionado($event)"
  (userRemoved)="removeUser($event)"
  />
}</div>
@if (userSelect) {
  <p>{{userSelect}}</p>
}